@if (Visible)
{
    <h3>Etapa 2 - Data de exibição do Filho @data</h3>
    <h3>Data Exibição do Pai @DataExibicaoPai</h3>
}
@code {

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public DateTime DataExibicaoPai { get; set; }

    private string data = "";

    protected override void OnInitialized()
    {
        data = $"Chamou em: {DateTime.Now.ToString()}";
    }

}